a{text-decoration:none}
[data-role="button"]{cursor:pointer}
.flex{display:flex;flex-direction:column}
.flex.row{flex-direction:row!important}
.flex.hcenter{align-items:center}
.flex.hstart{align-items:flex-start}
.flex.vcenter{justify-content:center}
.flex.justify-content-between{justify-content:space-between}
.flex.justify-content-around{justify-content:space-around}
.flex.justify-content-evenly{justify-content:space-evenly}
.flex.justify-content-end{justify-content:flex-end}
.flex.wrap{flex-wrap:wrap}
.flex.grow{flex-grow:1}
*{font-family:'Open Sans',sans-serif;box-sizing:border-box}

* {
    margin: 0;
    padding: 0
}

html {
    width:100%;
    height:100%;
}

.root {margin-top:6rem;gap:1rem}

.puzzle, .puzzle-row {gap:5px}
.puzzle-item {
    background: #eaeaea;
    height: 70px;
    width: 70px;
    border-radius: 6px;
    font-size:17px
}

.logo {
    height: 120px;
    min-height: fit-content;
}

.controllers {
    gap: 5px;
}

.solution-detail {
    gap:1rem;
    font-size: 13px;
}

.zeropos {
    border: 2px solid #1db688;
    font-weight: bold;
}

.config {
    gap: 1rem;
}

.profile-controller {
    border: 1px solid #5a5a5a33;
    padding: 0.6rem 1.65rem;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -1px;
    background: none;
    outline: none;
    transition: .15s;
}
.profile-controller:hover {
    transition: .15s;
}

input:not([type]):focus,
input[type="number"]:focus {
    color:rgb(29, 182, 136);border-color:rgb(29, 182, 136)
}

label {color:#757575;font-size:13px}
.profile-controller.calc {color:rgb(29, 182, 136);border-color:rgb(29, 182, 136)}
.profile-controller.calc:hover:not(:disabled) {color:white;border-color:rgb(29, 182, 136);background:rgb(29, 182, 136)}

button:disabled {
    color: #757575!important;
    cursor: not-allowed;
    border-color: #5a5a5a33!important
}